.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}    

 /* Form wrapper styling */
.search-wrapper {
position: absolute;
left: 400px;
background: #fff;
top: 110px;      
width: 550px;
box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
}
 
/* Form text input */
 
.search-wrapper input {
position: absolute;
top: 0px;
left: 0px;
width: 400px;
height: 30px;
font: bold 18px 'lucida sans', 'trebuchet MS', 'Tahoma';
background: #fff;
color: #336699;
border-radius: 3px 0 0 3px;
}
 
.search-wrapper input:focus {
    outline: 0;
    font-size: 14px;
    color: #336699;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.search-wrapper input::-webkit-input-placeholder {
    font-size: 14px;
    color: #336699;
   font-weight: bold;
}
 
.search-wrapper input:-moz-placeholder {
    color: #336699;
    font-size: 14px;
    font-weight: bold;
}
 
.search-wrapper input:-ms-input-placeholder {
    color: #336699;
    font-size: 14px;
    font-weight: bold;
}    
 
/* Form submit button */
.search-wrapper button {
overflow: visible;
position: relative;
float: right;
border: 0;
padding: 0;
cursor: pointer;
height: 50px;
width: 150px;
font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
color: #f9f9f9;
background: #336699;
border-radius: 0 3px 3px 0;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}
   
.search-wrapper button:hover{     
    background: #00cc66;
}   
   
.search-wrapper button:active,
.search-wrapper button:focus{   
    background: #00cc66;
    outline: 0;   
}
 
/* left arrow */ 
.search-wrapper button:before { 
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #336699 transparent;
    top: 18px;
    left: -6px;
}
 
.search-wrapper button:hover:before{
    border-right-color: #00cc66;
}
 
.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #00cc66;
}      
 
.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    

.SearchBox {
  position: absolute;
  width: 600px;
  height: 150px;
  background: #f9f9f9;
  border: 1px #336699 solid;
  
}

.imagebox {
  position: absolute;
  top: 12px;
  left: 15px;
  width: 110px;
  height: 120px;
  background: #336699;
  border: 1px #336699 solid;  
}

.Name {
  position: absolute;
  top: 15px;
  left: 145px;
  width: 250px;
  height: 40px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #336699;
  font-size: 18px;
  background: #f9f9f9;
  border: 0px;    
}

.Details {
  position: absolute;
  top: 45px;
  left: 145px;
  width: 400px;
  height: 40px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #336699;
  font-size: 18px;
  background: #f9f9f9;
  border: 0px;    
}