@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

.introBar {

	position: absolute;
	top: 0px;
	left: 0px;
	width:1350px;
	height: 70px;
	background: #336699;
  z-index: 10;
}

.introHead1 {
	
	position: absolute;
	top: 18px;
	left: 35px;
	color: #fff; 
  letter-spacing: 1px;
	font-size: 1.7em;
	font-weight: 800;
	font-family: 'Audiowide', cursive;
}

.introHead2 {
	
	position: absolute;
	top: 10px;
	left: 1215px;
  width: 50px;
	color: #fff;
	font-size: 0.8em;
	font-family: 'Audiowide', cursive;
}

body {
  
  background: #f9f9f9;
  padding: 240px 0 100%;
  font-weight: 400;
  font-family: 'Lato', Arial, sans-serif;
}



.loginbox {

	position: absolute;
	top: 180px;
	left: 320px;
    width: 700px;
    padding: 10px;
    height: 310px;
    overflow: hidden;
    background: white;
    border: #e1e1e1 solid 1px;
    font-family: 'Lato', Arial, sans-serif;
}

.logintext {
    
    width: 298px;
    height: 14px;
    padding-top: 40px;
    padding-left: 45px;
    font-size: 22px;
    font-weight: bold;
    background: white;
   	color:#545454;
 
    margin-bottom: 0px;
    font-family: 'Lato', Arial, sans-serif;
}

.login-help {

  position: absolute;
  top: 495px;
  left: 885px;
  margin: 20px 0;
  font-size: 15px;
  color: white;
  text-align: center;
}

.upload {
  
  position: absolute;
  top: 550px;
  left: 320px;
  padding: 10px 0px;
  width: 240px;
  height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px #e3f1f1;
  background: #ff3333;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 0px;
  outline: 0;
  cursor: pointer;
  font-family: 'Lato', Arial, sans-serif;
  
  @include box-sizing(content-box);
  @include linear-gradient(top, #edf5f8, #cde5ef);
  @include box-shadow(inset 0 1px white, 0 1px 2px rgba(black, .15));

  &:hover {

    background: #009966;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    @include box-shadow(inset 0 0 3px rgba(black, .2));
  }
}


.seperator {

	position: relative;
	top: 85px;
	left: 45px;
	background: #e1e1e1;
	width: 450px;
	height: 2px;
}

.f_password {

	position: relative;
  top: 100px;
  left: 45px;
  padding: 0 10px;
  width: 240px;
  height: 45px;
  font-size: 18px;
  font-weight: normal;
  padding: 10px; 
  color: #fff;
  text-shadow: 0 1px #e3f1f1;
  background: #ff3333;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 0px;
  outline: 0;
  cursor: pointer;
  font-family: 'Lato', Arial, sans-serif;
  @include box-sizing(content-box);
  @include linear-gradient(top, #edf5f8, #cde5ef);
  @include box-shadow(inset 0 1px white, 0 1px 2px rgba(black, .15));

  &:active {
    background: #009966;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    @include box-shadow(inset 0 0 3px rgba(black, .2));
  }
}



.notifytext {
  position: absolute;
  top: 110px;
  left: 30px;
  color: #404040;
  font-size: 14px;
  line-height: 220%;
}

ul {
  list-style-type:initial;
  color: #336699;
}

.progress-button[data-style="shrink"] { /* common for horizontal and vertical */
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}

.progress-button[data-style="shrink"][data-horizontal] .content {
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

.progress-button[data-style="shrink"][data-horizontal] .content::before,
.progress-button[data-style="shrink"][data-horizontal] .content::after {
  top: 100%;
  right: auto;
  left: 50%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.progress-button[data-style="shrink"][data-horizontal].state-loading {
  -webkit-transform: scaleY(0.3);
  transform: scaleY(0.3);
}

.progress-button[data-style="shrink"][data-horizontal].state-loading .content {
  opacity: 0;
}

.progress-button[data-style="shrink"][data-horizontal].state-success .content,
.progress-button[data-style="shrink"][data-horizontal].state-error .content {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
